
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16;
  min-height: 0;
}

window#waybar {
  background: rgba(20, 20, 20, 0.7);
  border-radius: 10px;
  padding: 6px 10px;
  margin: 6px;
}

#workspaces button {
  background: transparent;
  color: #aaa;
  padding: 4px 8px;
  margin: 0 2px;
  border-radius: 5px;
  border: none;
}

#workspaces button.focused {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

#clock,
#cpu,
#memory,
#temperature,
#custom-volume,
#network,
#keyboard-state,
#tray,
#custom-power {
  padding: 0 10px;
  margin: 0 4px;
  background: rgba(40, 40, 40, 0.6);
  border-radius: 6px;
}
