/* Globale Font - minimalistisch & clean */
* {
    font-family: "Roboto Nerd Font", monospace;
    font-size: 20px; /* Kleiner wirkt moderner */
    font-weight: 600;
    /* background: rgba(0, 0, 0, 0.3); */
}

#clock,
#workspaces,
#window,
#mpd,
#pulseaudio,
#cpu,
#custom-gpu,
#memory,
#temperature,
#tray,
#custom-power,
#network,
window#waybar,
#power-profiles-daemon,
#bluetooth {
    padding: 0px 3px;
    margin: 5px 3px;
    background: rgba(16, 16, 16, 0.9);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces button.focused {
    background: rgba(122, 162, 247, 0.2);
    color: #7aa2f7;
    border: 2px solid rgba(122, 162, 247, 0.3);
}

tooltip {
    background: rgba(30, 30, 30, 0.8);
    border: 2px solid #82aaff;
}
tooltip label {
    color: #ffffff; /* Ein helles, angenehmes Blauweiß */
    font-family: "Roboto Nerd Font", monospace;
    font-size: 14px;
    padding: 8px;
    font-weight: bold;
}

#clock:hover,
#network:hover,
#workspaces button:hover,
#cpu:hover,
#mpd:hover,
#pulseaudio:hover,
#tray:hover,
#custom-gpu:hover,
window#waybar:hover,
#bluetooth:hover
#power-profiles-daemon:hover {
    background: rgba(61, 81, 128, 0.9);
}

#clock {
    min-width: 120px;

}
#network,#tray, #power-profiles-daemon, #bluetooth {
    min-width: 40px;
}

#cpu, #custom-gpu, #memory, #temperature, #pulseaudio {
    min-width: 80px;
}

#custom-power {
    min-width: 40px;
    color: #ffffff;
    background: rgba(200, 0, 0, 1.00);
}

#custom-power:hover {
    background: rgba(200, 0, 0, 1.00);
    border: 1px solid rgba(255, 255, 255, 1.0);
}
