console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 4
final_space = true

[palette]
  green = '#00FF00'
  lightblue = '#82aaff'
  lightgreen = '#88FF88'
  lightgrey = '#A1A5A9'
  red = '#FF0000'
  white = '#FFFFFF'

[transient_prompt]
  template = ' '
  foreground = 'p:grey'
  background = 'transparent'

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    template = '╭{{.Icon}}'
    foreground = 'p:lightgreen'
    background = 'transparent'
    type = 'os'
    style = 'plain'

  [[blocks.segments]]
    template = ' {{.UserName}}@{{.HostName}}'
    foreground = 'p:lightgreen'
    background = 'transparent'
    type = 'session'
    style = 'plain'

  [[blocks.segments]]
    template = '  {{ .Path }}'
    foreground = 'p:lightblue'
    background = 'transparent'
    type = 'path'
    style = 'plain'

[[blocks]]
  type = 'prompt'
  alignment = 'right'

  [[blocks.segments]]
    template = '{{ .HEAD }} {{if gt .Behind 0}}{{end}}{{if gt .Ahead 0}}{{end}}'
    foreground = 'p:lightgrey'
    background = 'transparent'
    type = 'git'
    style = 'plain'

  [[blocks.segments]]
    foreground = 'p:lightgrey'
    background = 'transparent'
    type = 'time'
    style = 'plain'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '╰'
    foreground = 'p:lightgreen'
    background = 'transparent'
    type = 'text'
    style = 'plain'

  [[blocks.segments]]
    template = ''
    background = 'transparent'
    type = 'text'
    style = 'plain'
    foreground_templates = ['{{if gt .Code 0}}p:red{{end}}', '{{if eq .Code 0}}p:white{{end}}']
